*{
margin:0px;
padding: 0px;
}

video{
width: 100%;
height: 100%;
object-fit: contain;
}

video:focus {
outline:none;
}

nav{
	background-color: white;
	height: 61px
}

.hr1{
	color: black;
	width: 1000px;
	height: 20px;
}

span{
	font-size: 14px;
}

.top-nav{
	padding-top: 0px;
	overflow:hidden;
}

.top-nav-box{
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
	margin: 0 auto;
}

.top-nav-img1 {
	float: left;
	width: 100px;
	height: 24px;
	vertical-align: baseline;
	margin-top: 19px;
	margin-left: 24px;
}

.top-nav-span1{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span1:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span2:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content{
	display: block;
	width: 100%;
	height: 0px;
	z-index: -1;
}

.top-nav-span3{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span3:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span4{
	float:left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span4:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span5{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span5:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span6{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span6:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span7{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span7:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span8{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}
.top-nav-span8:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-search-input{
	margin-right: 30px;
	float: right;
	border: 1px solid #e4e3e2;
	width: 280px;
	height: 61px;
}

.top-nav-search-text{
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
}

.top-nav-span9{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
}

.top-nav-span9:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span10{
	margin-right: 20px;
	float: right;
	margin-top: 21px;
}

.top-nav-span10:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span11{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
}

.top-nav-span11:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span12{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
}

.top-nav-span12:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span13{
	float: right;
	margin-top: 21px;
	margin-right: 20px;
}

.top-nav-span13:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span14{
	float: right;
	margin-top: 21px;
	margin-right: 20px;
}

.top-nav-span14:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-button1{
	float: right;
	background-color: #FF6A00;
	border: #FF6A00;
	height: 61px;
	width: 122px;
	color: white;
}

.top-nav-button1:hover{
	background-color: #FF791A;
	cursor:pointer;
}

.body-content_1{
	background-color:#EEEDF1 ;
	height: 6000px;
	width: 1902px;
	margin: 0 auto;
	cursor:pointer;
}

.Top_picture{
	width: 1190px;
	position: relative;
	top: 85px;
	left: 375px;
}

.yun{
	padding-right: 25px;
}

.Alibaba-cloud-ecological-partner{
	width: 304px;
	position: relative;
	left: 1246px;
	bottom: 218px;
}

.Alibaba-cloud-ecological-partner h3{
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0.86px;
}
.partners{
	line-height: 34px;
	text-align: center;
	display: inline;
}
.Join_partners{
	width: 164px;
	height: 34px;
	font-size: 14px;

	background-color: #FF6A00;
	position: relative;
	left: 1204px;
	bottom: 190px;
}

.Join_partners a{
	color: #FFFFFF;
	text-decoration: none;
}
.Query_partners{
	width: 164px;
	height: 34px;
	background-color: #FF6A00;
	position: relative;
	left: 1380px;
	bottom: 226px;
}

.Query_partners a{
	color: #FFFFFF;
	text-decoration: none;
}

.Login_management_background{
	width: 340px;
	height: 34px;
	border: 1px solid #FFFFFF;
	background: hsla(0,0%,100%,.2);
	position: relative;
	left: 1204px;
	bottom: 216px;
}

.Login_management_background a{
	color: #FFFFFF;
	text-decoration: none;
}

.Login_management_background a:hover{
	color: #000000;
}
.real-time_info{
	max-width: 340px;
	height: 118px;
<<<<<<< HEAD
	border: 1px solid red;
	background-color: #FFFFFF;
	opacity: 0.7;
	position: relative;
	left: 1204px;
	bottom: 204px;
}

.real-time{
	text-indent: 8px;
	font-size: 13px;
	margin-top: 5px;
	color: #231B17;
}

.real-time_info ul li{
	list-style: none;
	line-height:26px;
	text-indent:8px;
}

.real-time_info ul li a{
	color: #231B17;
	font-size: 13px;
	text-decoration: none;
}

.real-time_info ul li a:hover{
	color: #C1570F;
=======
	background-color: #FFFFFF;
	opacity: 0.7;
	position: relative;
	left: 1204px;
	bottom: 204px;
}

.real-time{
	text-indent: 8px;
	font-size: 13px;
	margin-top: 5px;
	color: #231B17;
}

.real-time_info ul li{
	list-style: none;
	line-height:26px;
	text-indent:8px;
}

.real-time_info ul li a{
	color: #231B17;
	font-size: 13px;
	text-decoration: none;
}

.real-time_info ul li a:hover{
	color: #C1570F;
}

.body-content_2{
	height: 392px;
	background-color: #FFFFFF;
	padding-top: 5px;
	position: relative;
	bottom: 160px;
	border-bottom: 1px solid #D9DBE0;
	box-shadow: 0px 5px #EAEAEA;
}

.Level{
	background-color: #D9DBE0;
	border: 1px solid #D9DBE0;
	position:relative;
	top: 65px;
	box-shadow: ;
}

.Application_process{
	width: 115px;
	height: 61px;
	border-bottom: 3px solid #FF6A00;
	text-align: center;
	line-height: 58px;
	position: relative;
	left: 650px;
}

.Application_process a{
	font-size: 15px;
	color: #181818;
	text-decoration: none;
}

.Partner_type{
	width: 115px;
	height: 60px;
	text-align: center;
	line-height: 58px;
	position: relative;
	bottom: 64px;
	left: 818px;
}

.Partner_type a{
	font-size: 15px;
	color: #181818;
	text-decoration: none;
}

.Partner_Program{
	width: 115px;
	height: 60px;
	text-align: center;
	line-height: 58px;
	position: relative;
	bottom: 124px;
	left: 980px;
}

.Partner_Program a{
	font-size: 15px;
	color: #181818;
	text-decoration: none;
}

.Training_and_certification{
	width: 115px;
	height: 60px;
	text-align: center;
	line-height: 58px;
	position: relative;
	bottom: 184px;
	left: 1165px;
}

.Training_and_certification a{
	font-size: 15px;
	color: #181818;
	text-decoration: none;
}

.Alibaba_cloud_partner_application_process{
	width: 216px;
	font-size: 24px;
	letter-spacing: -1spx;
	position: relative;
	bottom: 110px;
	left: 374px;
}

.item{
	width: 145px;
	height: 120px;
	display: inline
	border: 1px solid red;
	vertical-align: middle;
	text-align: center;
	position: relative;
	left: 363px;
	bottom: 78px;
}

#Notes{
	padding-top: 14px;
}

.Arrow{
	width: 10px;
	display: inline
	border: 1px solid red;
	position: relative;
	left: 194px;
	bottom: 100px;
}














<<<<<<< HEAD
=======






















































































































































































>>>>>>> 151e33d8859941019d5bcddfa8d2c8a86417f973
