*{margin:0;padding: 0;}
span{
	font-size: 14px;
}

.top-nav{
	padding-top: 1px;
	overflow:hidden;
}

.top-nav-box{
	
}

.top-nav-img1 { /* aliyun-logo class样式 */
	width: 100px;
	height: 24px;
	vertical-align: baseline;
	margin-top: 19px;
	margin-left: 24px;
}


.top-nav-span1{/* 导航栏 最新活动 class样式*/
	margin-left: 24px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span1:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2{
	margin-left: 104px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span2:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span3{
	margin-left: 157px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span3:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span4{
	margin-left: 238px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span4:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span5{
	margin-left: 305px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span5:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span6{
	margin-left: 386px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span5:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span7{
	margin-left: 500px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span7:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span8{
	margin-left: 550px;
	margin-top: 22px;
	position: absolute;
}

.top-nav-span8:hover{
	color: #ff6a00;
	cursor:pointer;
}






