*{margin:0;padding: 0;}


body{
	background-color: #ECEBEE;
}
video{
undefined
width: 100%;
height: 100%;
object-fit: contain;
}

video:focus {
	undefined

outline:none;
}

video::-webkit-media-controls{ 
}

nav{
	background-color: white;
	height: 61px
}

.hr1{
	
	color: black;
	width: 1000px;
	height: 20px;
}
span{
	font-size: 14px;

}


.body{
	height: 4000px;
}

.top-nav{
	padding-top: 1px;
	overflow:hidden;
}

.top-nav-box{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 100;
	margin: 0 auto;
}

.top-nav-img1 { /* aliyun-logo class样式 */
	float: left;
	width: 100px;
	height: 24px;
	vertical-align: baseline;
	margin-top: 19px;
	margin-left: 24px;
}

.top-nav-content{
	border: 1px solid red;
}


.top-nav-span1{/* 导航栏 最新活动 class样式*/
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span1:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span2:hover{
	color: #ff6a00;
	cursor:pointer;
}



.top-nav-span2-content{
	display: block;
	width: 100%;
	height: 0px;
	z-index: -1;
}




.top-nav-span2-content-left{
	border:1px solid red;	
	position: fixed;
	margin-top: 0px;
	float: left;
	width: 25%;
	height: 0px;
	background-color: #F5F5F6;
	transition: height 0.4s;
	-webkit-transition: height 0.4s; 
}






.top-nav-span2-content-right{
	border:1px solid red;
	z-index: 10;
	position: fixed;
	margin-left: 25.0%;
	float: right;
	width: 75%;
	height: 0px;
	background-color: white;
	transition: height 0.4s;
	-webkit-transition: height 0.4s; 
}

.top-nav-span2-content-left-span1{
	position: absolute;
	margin-left: 300px;
	top: 50px;
	float: right;
	font-weight: bold;
}

.top-nav-span2-content-left-span2{
	position: absolute;
	margin-left: 300px;
	top: 100px;
	float: right;
}

.top-nav-span2-content-left-span3{
	position: absolute;
	margin-left: 300px;
	top:140px;
	float: right;
}


.top-nav-span2-content-left-span4{
	position: absolute;
	margin-left: 300px;
	top: 180px;
	float: right;
}

.top-nav-span2-content-left-span5{
	position: absolute;
	margin-left: 300px;
	top: 220px;
	float: right;
}


.top-nav-span2-content-left-span6{
	position: absolute;
	margin-left: 300px;
	top: 260px;
	float: right;
}


.top-nav-span2-content-left-span7{
	position: absolute;
	margin-left: 300px;
	top: 300px;
	float: right;
}

.top-nav-span2-content-left-span8{
	position: absolute;
	margin-left: 300px;
	top: 340px;
	float: right;
}

.top-nav-span2-content-left-span9{
	position: absolute;
	margin-left: 300px;
	top: 380px;
	float: right;
}


.top-nav-span2-content-left-span10{
	position: absolute;
	margin-left: 300px;
	top: 420px;
	float: right;
}


.top-nav-span2-content-left-span11{
	position: absolute;
	margin-left: 300px;
	top: 460px;
	float: right;
}


.top-nav-span2-content-left-span12{
	position: absolute;
	margin-left: 300px;
	top: 500px;
	float: right;
}

.top-nav-span2-content-left-span13{
	position: absolute;
	margin-left: 300px;
	top: 540px;
	float: right;
}




.top-nav-span2-content-left-span1:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span2:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span3:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span4:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span5:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span6:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span7:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span8:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span9:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span10:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span11:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span2-content-left-span12:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span2-content-left-span13:hover{
	color: #ff6a00;
	cursor:pointer;
}




.top-nav-span2-content-left-span1:hover{
	color: #ff6a00;
	cursor:pointer;
	
}





.arrow{
	float: right;
	margin-top: 50px;
	width: 7px;
	height: 7px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(45deg);
}


.top-nav-span3{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span3:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span4{
	float:left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span4:hover{
	color: #ff6a00;
	cursor:pointer;
}





.top-nav-span5{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span5:hover{
	color: #ff6a00;
	cursor:pointer;
}





.top-nav-span6{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span6:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span7{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.top-nav-span7:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span8{
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}
.top-nav-span8:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-search-input{
	margin-right: 30px;
	float: right;
	border: 1px solid #e4e3e2;
	width: 280px;
	height: 61px;
}


.top-nav-search-text{
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
}

.top-nav-span9{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
}

.top-nav-span9:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span10{
	margin-right: 20px;
	float: right;
	margin-top: 21px;
}

.top-nav-span10:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span11{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
	
	
}

.top-nav-span11:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-span12{
	float: right;
	margin-right: 20px;
	margin-top: 21px;
	
}

.top-nav-span12:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span13{
	float: right;
	margin-top: 21px;
	margin-right: 20px;
	
}

.top-nav-span13:hover{
	color: #ff6a00;
	cursor:pointer;
}


.top-nav-span14{
	float: right;
	margin-top: 21px;
	margin-right: 20px;
	
}

.top-nav-span14:hover{
	color: #ff6a00;
	cursor:pointer;
}

.top-nav-button1{
	float: right;
	background-color: #FF6A00;
	border: #FF6A00;
	height: 61px;
	width: 122px;
	color: white;
}

.top-nav-button1:hover{
	background-color: #FF791A;
	cursor:pointer;
}

.body-content1{
	position: relative;
	background-color:#EEEDF1 ;
	height: 535px;
	width: 2030px;
	margin: 0 auto;
	cursor:pointer;
	
	
	
}





.search-logo{
	display: none;
	margin-top: 15px;
	height: 40px;
}

.body-content1-img1{
	float: right;
	margin-right:100px;
	border:1px solid red;
	height: 535px;
}

.body-content1-span1{
	margin-top: 200px;
}

.body-content1-span3{
	border: 1px solid red;
	float: left;
	background-color: #FF6A00;
	border: #FF6A00;
	height: 45px;
	width: 130px;
	color: white;
	margin-top: 250px;
	margin-left: 130px;
}


.body-content1-span3 :hover{
	background-color: #FF791A;
	cursor:pointer;
}

.body-content1 span{
	margin: 0 auto;
}



.body-content1-button1{
	float: left;
	margin-top: 340px;
	margin-left: 130px;
	background-color: #FF6A00;
	border: #FF6A00;
	height: 40px;
	width: 122px;
	color: white;
}

.body-content1-button1:hover{
	background-color: #FF791A;
	cursor:pointer;
}

.body-content1-video1{
	float: right;
	width: 1600px;
}


.switch_body{
	position: absolute;
	top: -50px;
}



.switch_body-1{
	height: 3px;
	background-color:#f5f5f5;
	width: 40px;
	position: absolute;
	top:500px;
	left: 130px;
	transition: width 0.5s;
	-webkit-transition: width 0.5s; /* Safari */
}







.switch_body-2{
	
	height: 3px;
	background-color:#f5f5f5;
	width: 40px;
	position: absolute;
	top:500px;
	left: 180px;
	transition: width 0.5s ;
	margin: 0 0 0 auto;
}



.switch_body-2-box{
	border: 1px solid red;
	height: 80px;
	width: 40px;
	position: absolute;
	top:500px;
	left: 130px;
	transition: width 0.5s;
	-webkit-transition: width 0.5s; /* Safari */
}


.switch_body-3{
	height: 3px;
	background-color:#f5f5f5;
	width: 40px;
	position: absolute;
	top:500px;
	left: 230px;
	transition: width 0.5s;
}


.switch_body-4{
	height: 3px;
	background-color:#f5f5f5;
	width: 40px;
	position: absolute;
	top:500px;
	left: 280px;
	transition: width 0.5s;
}

.body-content2{
	position: relative;
	width: 1900px;
	background-color: #e6e6e6;
	height: 90px;
	margin: 0 auto;
}





.body-content2-div1{
	transition: all 0.1s;
	background-color: #E4E4E4;
	position: absolute;
	left: 250px;
	width: 280px;
	height: 90px;
}

.body-content2-div1:hover{
	background-color: #ededed;
	
}

.body-content2-div2{
	transition: all 0.1s;
	background-color: #E4E4E4;
	position: absolute;
	left: 650px;
	width: 280px;
	height: 90px;
}

.body-content2-div2:hover{
	background-color: #ededed;
	
}


.body-content2-div3{
	transition: all 0.1s;
	background-color: #E4E4E4;
	position: absolute;
	left: 1050px;
	width: 280px;
	height: 90px;
}

.body-content2-div3:hover{
	background-color: #ededed;
	
	
}

.body-content2-div4{
	transition: all 0.1s;
	background-color: #E4E4E4;
	position: absolute;
	left: 1450px;
	width: 280px;
	height: 90px;
}


.body-content2-div4:hover{
	background-color: #ededed;
	
}






.body-content3{
	position: relative;
	width: 1900px;
	margin: 0 auto;
	height: 90px;
}

.body-content4{
	background-color: #ECEBEE;
	position: relative;
	width: 1900px;
	margin: 0 auto;
	margin-top:0px;
	height:170px;
}

.body-content4:hover{
	cursor:pointer;
	
}


.body-content5{
	position: relative;
	margin: 0 auto;
	border: 1px solid red;
	background-color: #F4F5F7;
	transition: height 0.5s;
	width: 1900px;
	height: 0px;
	margin-top: 0px;
	
}


.customer-service{
	position: fixed;
	
}

.body-content4 img{
	border: 1px solid red;
}

.body-content6{
	position: relative;
	margin: 0 auto;
	cursor:pointer;
	width: 1900px;
	height: 170px;
}

.body-content6 img{
	border: 1px solid red;
}

.body-content7{
	
}

.body-content8{
	width: 1900px;
	cursor: pointer;
	position: relative;
	height: 90px;
	margin: 0 auto;
}

.body-content9{
		background-color: white;
		width: 1900px;
		cursor: pointer;
		position: relative;
		height: 90px;
		margin: 0 auto;

}

.body-content9-span1-box{
		position: absolute;

}


.body-content9 span:hover{
	color: #FF6A00;
}


.body-content10{
	width: 1900px;
	background-color: #F5F6F8;
	position: relative;
	margin: 0 auto;

}

.body-content11{
	height:300px;
	width: 1900px;
	background-color: #F5F6F8;
	position: relative;
	margin: 0 auto;
}

.body-content11 img{
	border: 1px solid red;
}


.body-content12{
	height: 150px;
	width: 1900px;
	position: relative;
	margin: 0 auto;
}

.body-content12 span{
	border: 1px solid red;
	
}

.body-content13{
	background-color: #3d3d3d;
	position: relative;
	width: 1900px;
	height: 250px;
	margin: 0 auto;
}

.body-content13-img1-box{
	position: absolute;
	left: 200px;
	width:150px;
	height: 250px;
	transition: all 0.5s;
}





.body-content13-img2-box{
	position: absolute;
	left: 350px;
	width:150px;
	height: 250px;
	transition: all 0.5s;
}




.body-content13-img3-box{
	position: absolute;
	left: 500px;
	width:150px;
	height: 250px;
	transition: all 0.5s;
}


.body-content14{
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height: 90px;
}


.body-content15{
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height: 303px;
	
}


.body-content16{
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height: 130px;
	
}

.body-content17{
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height:420px;
	
}


.body-content17-div1{
	position: absolute;
	width: 950px;
	height: 210px;
}

.body-content17-div1-img{
	transition: all 2s;
}


.body-content18{
	background-color: #E0E0E0;
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height:200px;
}


.body-content19{
	background-color: #E0E0E0;
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height:500px;
}


.body-content20{
	position: relative;
	margin: 0 auto;
	width: 1900px;
	height:120px;
}


.body-content21{
	position: relative;
	background-color: #F4F5F7;
	margin: 0 auto;
	width: 1900px;
	height:120px;
}



.body-content22{
	position: relative;
	background-color:#181818;
	margin: 0 auto;
	width: 1900px;
	height:180px;
}

.body-content23{
	position: relative;
	background-color:#252525;
	margin: 0 auto;
	width: 1900px;
	height:600px;
}

